
:root {
  --font-family: "Be Vietnam Pro", sans-serif;
  --font-family: "DM Serif Text", serif;
  --font-family: "Ubuntu", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #7c4fed;
  --secondary-color: #B294FF;
  --primary-shadow: #7c4fed;
  --secondary-shadow: #7c4fed;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: radial-gradient(ellipse at bottom, #171C27, #0E131F);
}
h2 {
	color: #E0FBFC;
}
h3 {
	color: #E0FBFC;
	margin-bottom: 0.5vw;
	font-family: DM Serif Text;
}
h4 {
	color: #d5ccdb;
	margin-bottom: 0.5rem;
}
h5 {
	color: #7c4fed;
	margin-bottom: 0.5rem;
}
p {
	color: #E0FBFC;
	margin-bottom: 1rem;
	font-family: Be Vietnam Pro;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3.5rem;
  background-color: #7b56d9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1 {
  color: #ffffff;
  font-size: 2vw;
}

nav a {
  color: #d4d4d4;
  transition: var(--transition);
  font-size: 1.1vw;
}
nav a:hover {
  color: #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
}
.active{
      color: #ffffff;
   }
nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 60vw;
  margin: auto;
}
.hero img {
  height: 28rem;
  min-width: 24.6rem;
  max-width: 24.6rem;
  object-fit: cover;
  filter: grayscale(100%);
}
.cropped {
  height: 28.125rem;
  min-width: 23.5rem;
  max-width: 24.6rem;
  border-radius: 40%;
  overflow: hidden;
  border: 8px solid var(--primary-color);

}
.overlay {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.overlay:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(124,79,237, 0.25);
}
.in-box {
  background-color: #0E131F;
  text-align: center;
  min-width: 35rem;
  max-width: 50%;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
.education {
  max-width: 68.75rem;
  margin: auto;
}
.education-col {
	flex: 1;
}
.in-box-ed {
  background-color: #0E131F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  min-width: 15rem;
  max-height: 9rem;
  min-height: 9rem;
  padding: 0.825rem;
  margin: 3rem;
  border-radius: 20px;
  box-shadow: 0px 2px 8px 2px var(--primary-shadow);
  transition: 0.3s;
}
.in-box-ed:hover{
	transform: scale(1.15);
}
.in-box-ex {
  background-color: #0E131F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45rem;
  min-width: 25rem;
  max-height: 12rem;
  min-height: 12rem;
  padding: 0.825rem;
  margin: 3rem;
  border-radius: 20px;
  box-shadow: 0px 2px 8px 2px var(--primary-shadow);
  transition: 0.3s;
}
.in-box-ex:hover{
	transform: scale(1.15);
}
.skills {
  max-width: 68.75rem;
  margin: auto;
}

.skill-header {
  padding: 0.825rem;
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
  font-family: Ubuntu;
}

.skills-wrapper img {
  padding: 1.5rem;
}
.skill-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  max-width: 10rem;
  max-height: 9rem;
}
.icon-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0E131F;
  max-width: 12rem;
  min-width: 12rem;
  max-height: 10rem;
  min-height: 10rem;
  border-radius: 15px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  transition: 0.3s;
  padding: 6rem;
  margin: 1.5rem;
}
.icon-card:hover{
	transform: scale(1.2);
}
.project-card {
  background-color: #0E131F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 26rem;
  min-width: 26rem;
  max-height: 18rem;
  min-height: 18rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 0px 2px 8px 2px var(--primary-shadow);
  overflow: hidden;
  transition: 0.3s;
}

.project-card:hover{
	transform: scale(1.15);
}
.fa-rocket {
  color: #7c4fed;
  height: 4.5rem;
  width: 4.5rem;
  font-size:1.5rem;
  padding: 1rem;
}
.fa-diamond {
  color: #7c4fed;
  height: 4.5rem;
  width: 4.5rem;
  font-size:1.5rem;
  padding: 1rem;
}
.fa-compass {
  color: #7c4fed;
  height: 4.5rem;
  width: 4.5rem;
  font-size:1.5rem;
  padding: 1rem;
}
.fa-network-wired {
  color: #7c4fed;
  height: 4.5rem;
  width: 4.5rem;
  font-size:1.5rem;
  padding: 1rem;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}
.social-icons .social-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background-color: #7c4fed;
  color: #fff;
  border-radius: 100%;
  font-size:1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: var(--secondary-color);
}
body {
    margin: 0;
    height:100vh;
    width:100vw;
    padding:0;
}

section {
    background: transparent;
	display: flex;
    align-items: center;
	justify-content: center;
	text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
	padding-bottom: 5rem;
	width: 100vw;
	height: 100vh;
	margin: 6.2em 0;
}

.centered-content2 {
	display: inline-flex;
	justify-content: center;
	align-items: center;
  	text-align: center;
	width: 60vh;
	height: 85vh;
}
@media screen and (max-width: 900px) {
	h2 {
	color: #E0FBFC;
  }
	h3 {
	color: #E0FBFC;
	margin-bottom: 0.5vw;
	font-family: DM Serif Text;
  }
	h4 {
	color: #d5ccdb;
	margin-bottom: 0.5rem;
  }
	h5 {
	color: #7c4fed;
	margin-bottom: 0.5rem;
  }
	p {
	color: #E0FBFC;
	margin-bottom: 1rem;
	font-family: Be Vietnam Pro;
  }
  nav {
	padding: 2vw 6vh;
  }
  nav h1 {
    font-size: 5vw;
  }
  nav a {
  font-size: 3.5vw;
  }
  nav ul {
  gap: 5vw;
  }
  .hero {
  gap: 6vw;
  max-width: 90vw;
  }
  .hero img {
  height: 20%;
  max-width: 50%;

  }
  .cropped {
  height: 15%;
  width: 15%;
  }
  .in-box {
  min-width: 70%;
  max-width: 90%;
  padding: 0.625rem;
  }
  .bio h1 {
  font-size: 1vw;
  }
  .bio p {
  font-size: 1vw;
  padding: 0.3rem 0;
  }
  .education {
  max-width: 90vw;
  }
  .in-box-ed {
  max-width: 8vw;
  min-width: 8vw;
  max-height: 9rem;
  min-height: 9rem;
  padding: 0.825rem;
  margin: 3rem;
  }
  .in-box-ex {
  max-width: 65vw;
  min-width: 65vw;
  max-height: 45vh;
  min-height: 45vh;
  padding: 0.825rem;
  margin: 3rem;
  border-radius: 20px;
  box-shadow: 0px 2px 8px 2px var(--primary-shadow);
  transition: 0.3s;
  }
  .skills {
  max-width: 68.75rem;
  margin: auto;
  }
  .skill-header {
  padding: 0.825rem;
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
  }
  .skills-wrapper img {
  padding: 1.5rem;
  }
  .icon {
  max-width: 10rem;
  max-height: 9rem;
  }
  .icon-card {
  max-width: 12rem;
  min-width: 12rem;
  max-height: 10rem;
  min-height: 10rem;
  border-radius: 15px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  transition: 0.3s;
  padding: 6rem;
  margin: 1.5rem;
  }
  body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
  }

  section {
	  	display: flex;
    align-items: center;
	justify-content: center;
	text-align: center;
	  background: transparent;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 18vw;
	padding-bottom: 18vw;
	width: 100%;
	height: 100%;
	margin: 5vw 0;
  }

  .centered-content2 {
    height:100%;
    width:100%;
  }
}