
:root {
  --font-family: "Be Vietnam Pro", sans-serif;
  --font-family: "DM Serif Text", serif;
  --font-family: "Ubuntu", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #7c4fed;
  --secondary-color: #B294FF;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
}
h2 {
}
h3 {
	margin-bottom: 1rem;
	font-family: DM Serif Text;
}
h4 {
	color: #8E8A91;
	margin-bottom: 1rem;
}
h5 {
	color: #73627E;
	margin-bottom: 0.5rem;
}
p {
	margin-bottom: 1rem;
	font-family: Be Vietnam Pro;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: #7b56d9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
nav h1 {
  color: #ffffff;
  font-size: 35px;
}

nav a {
  color: #d4d4d4;
  transition: var(--transition);
  font-size: 20px;
}
nav a:hover {
  color: #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
}
.active{
      color: #ffffff;
   }
nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}
.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.bio {
  text-align: center;
  width: 35rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
.education {
  max-width: 68.75rem;
  margin: auto;
}
.skills {
  max-width: 68.75rem;
  margin: auto;
}

.skill-header {
  font-size: 1.8vw;
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  color: #2C2C2C;
  font-family: Ubuntu;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}
.social-icons .social-icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background-color: #7c4fed;
  color: #fff;
  border-radius: 100%;
  font-size:1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: var(--secondary-color);
}
body {
    margin: 0;
    height:100vh;
    width:100vw;
    padding:0;
}

section {
    background: transparent;
	display: flex;
    align-items: center;
	justify-content: center;
	text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
	padding-bottom: 5rem;
	width: 100vw;
	height: 100vh;
}
.centered-content {
	  display: inline-flex;
	  flex-direction: column;
  justify-content: center;
  align-items: center;
  	text-align: center;
	width: 45vw;
	height: 85vh;
	margin: auto;
}
.m-0 {
	margin: 0;
}